div#aditoonalFields{
    float: left;
    width: 100%;
}
#addPunkt{
    float: left;
    cursor: pointer;
}

.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}

span.delCityDot {
    float: left;
    line-height: 54px;
    margin-left: 22px;
    cursor: pointer;
}